.container{
    background: darkblue;
    color: white;
    padding: 1rem;
    justify-content: center;
    text-align: center;
}
.Change{
    font-size: larger;
    font-weight: bold;
    background: rgb(116, 116, 126);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: 1rem;
}
.Change:hover{
    background-color: antiquewhite;
    color: black;
}